{% extends "base.html.twig" %}

{% block header %}
    <!-- ******HEADER****** -->
    <header class="header">
        <div class="container">
            <img class="profile-image img-responsive pull-left" src="/assets/images/logo.png" alt="novatos20d" />
            <div class="profile-content pull-left">
                <h1 class="name">Novatos 20D</h1>
                <h2 class="desc">
                    El primer MMCC efímero
                </h2>
                <ul class="social list-inline">
                    <li class="last-item">
                        <a href="https://www.facebook.com/novatos20d" target="_blank" rel="nofollow">
                            <i class="fa fa-facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://twitter.com/novatos20d" target="_blank" rel="nofollow">
                            <i class="fa fa-twitter"></i>
                        </a>
                    </li>
                </ul>
            </div><!--//profile-->
            <a class="btn btn-cta-primary pull-right" href="mailto:novatos20d@gmail.com" target="_blank">
                <i class="fa fa-paper-plane"></i>
                CONTACT ME
            </a>
        </div><!--//container-->
    </header><!--//header-->
{% endblock %}

{% block footer %}
{% endblock %}

{% block javascripts %}
        <!-- Javascript -->
    <script type="text/javascript" src="/assets/plugins/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="/assets/plugins/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/assets/plugins/jquery-rss/dist/jquery.rss.min.js"></script>
    <!-- custom js -->
    <script type="text/javascript" src="/assets/js/main.js"></script>

{% endblock %}